/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  text-align: center;
}

.container {
  display: flex; 
  justify-content:center;
  margin-top: 100px;
}

.bar:hover {
  fill: yellow;
}

.tooltip {
    position: absolute;			
    text-align: center;			
    width: 150px;					
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lavender;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}

text {
  opacity: 0;
}