/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  text-align: center;
}

.container {
  display: flex; 
  justify-content:center;
  margin-top: 100px;
}
